<?xml version="1.0"?>
<appSettings>
  <add key="LogoUserName" value="SALESART"/>
  <add key="LogoPassword" value="0258"/>
  <add key="CompanyCode" value="412"/>
  <add key="Season" value="09"/>
  <add key="logoConnection" value="Server=172.16.40.20;Database=AYK2008;Persist Security Info=True;User ID=PG;Password=PG2007;"/>
</appSettings>